.Rproj.user
.Rhistory
.RData
*.tar.gz
*~
*.swp
inst/doc
README.htmlincidence.Rcheck
incidence.Rcheck/
README.html
artwork
revdep
.Rapp.history
.Ruserdata
*-Ex.R
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
docs/

docs
